{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 class="page-header">Books</h1>
    <p>
        <button type="button" 
        class="btn btn-primary js-create-book"
        data-url="{% url 'books:book_create' %}">
            <i class="far fa-plus-square"> New Book</i>
        </button>
    </p>
    
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Type</th>
        <th>Publication date</th>
        <th>Pages</th>
        <th>Price</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      {% include  "books/includes/partial_book_list.html" %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
        <div class="modal-content">
        
        </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script src="{% static 'books/js/books.js' %}"></script>
{% endblock%}