
<form method="post" action="{% url 'books:book_update' form.instance.id %}" class="js-book-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Edit Book</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include "books/includes/partial_book_form.html" %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>